@import "~normalize.css/normalize.css";
@import "variables";
@import "utilities";

html,
body {
  font-family: $font-family;
  font-size: $text-size;
  color: $color-text-base;
  height: 100%;
}

:global(#__next) {
  height: 100%;
}
