.blind {
  position: absolute;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0; }

.clear {
  clear: both; }
  .clear::after {
    content: ' ';
    clear: both;
    display: table; }

.transparent {
  -webkit-box-shadow: none;
          box-shadow: none;
  background-color: transparent;
  border: 0 none;
  cursor: pointer; }

.ellipsis {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  word-break: normal; }

html,
body {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, SimSun, sans-serif;
  font-size: 16px;
  height: 100%; }

._1pJCO7KdyHNDMniwJS2VHf {
  color: dodgerblue; }

._2X4oPHaMiIkkgs58Q_s2XZ {
  color: forestgreen; }

