<div class="codebox">
    <div class="codebox__inner">
        <div class="codebox__header">
            <nav class="grey lighten-2 z-depth-0">
                <ul>
                    <li class="left">
                        <a href="//github.com/UYEONG/react-preloader-icon" target="_blank">Github</a>
                    </li>
                    <li class="right">
                        <a href="#" type="button">
                            <i class="material-icons">code</i>
                            <span class="blind">view code</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
        <div class="codebox__body">
            <h2 class="blind">Code example</h2>
            <pre><code class="codebox__code-view js grey lighten-4"></code></pre>
        </div>
    </div>
</div>
